table {border-collapse: collapse;}
th, td {border: 1px solid #ddd; padding: 5px 10px;}

#table1 button::after {content: "Add"}
/* #table2 button {display: none} */
#table2 button::after {content: "\2715"}

#table2 tr th:nth-child(4), #table2 tr td:nth-child(4){
  display:none;
}