label {
    cursor: pointer;
  }
  /* Change cursor when the label is hovered */
  
  input[type=checkbox] {
    display: none;
  }
  /* Hide the ugly default radio styling */
  
  label > span {
    opacity: 0.2;
  }
  /* Hide the checkmark by default */
  
  input[type=checkbox]:checked + span {
    opacity: 1;
    color: green;
  }
  /* Show the checkmark when the radio is checked */


  tr.finished td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}